---
key: {{ citekey }}
date: "{{ ts }}"
author: "{{ author }}"
title: "{{ title }}"
---

# {{ title }}

*Reading Notes by {{ author }} | {{ ts_day }}*

| Zotero field | Value |
| --- | --- |
| Creators | {{ creator }} |
| Citekey | {{ citekey }} |
| Type | {{ type }} |
| DOI | {% if doi %} [{{ doi }}](https://doi.org/{{ doi }}) {% else %}  {% endif %} |
| Date | {{ date }} |

Keywords:

Related notes:

---

## Summary

---
